body{
    background-color: rgb(86, 201, 251);
}
main{
    margin-top: 10dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#loginForm{
    height:35dvh;
    width: 35dvw; 
    background-color: rgb(0, 0, 0);
    border-radius: 20px 20px 0px 0px;
    overflow: visible;
}
#loginFormFooter{
    height:5dvh;
    width: 35dvw; 
    background-color: rgb(255, 255, 255);
    border-radius: 0px 0px 20px 20px;
}
img{
    z-index: 1;
    margin-bottom: 20px;

}