# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# OS e IDEs
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Outros
.env